// Заголовки, общие БЄМ блоки и проче...

// icon ====================================================================================================//

.icon {
	&__inside{
		fill: #fff;
		@media (max-width: 950px) {
			width: 30px;
		}
		transition: all 0.6s ease 0s;
		&:hover {
			fill: #000;
			.icon__body {
				transition: all 0.3s ease 0s;
				fill: #fff;
			}
		}
	}
}

// decor ====================================================================================================//
 
.decor {
	width: 100%;
	height: 1px;
	background-color: #000;
 }

// button ====================================================================================================//

.button {
	display: inline-flex;
	background-color: #000;
	border-radius: 5px;
	padding: 10px 20px;
	@include adaptiveValue("padding-top", 14, 10, 1170, 767, 1);
	@include adaptiveValue("padding-bottom", 14, 10, 1170, 767, 1);
	@include adaptiveValue("padding-right", 20, 15, 1170, 767, 1);
	@include adaptiveValue("padding-left", 20, 15, 1170, 767, 1);

	&__text {
		font-weight: 600;
		color: #FFFFFF;
		@include adaptiveValue("font-size", 16, 14);
	}

	&__icon {
		margin: 0px 0px 0px 14px;
		transition: all 0.3s ease 0s;
	}
	transition: all 0.3s ease 0s;
	&:hover {
		box-shadow: 1px 4px 18px 1px rgba(0, 0, 0, 0.4);
		.button__icon {
			transform: rotate(45deg);
		}
		.button__text {
			color: #d8d8d8;
		}
	}
}

// button_t ====================================================================================================//

.button_t {
	background-color: #000;
	border-radius: 5px;
	color: #fff;
	@include adaptiveValue("font-size", 16, 14, 1170, 767, 1);
	font-weight: 600;
	padding: 10px 20px;
	@include adaptiveValue("padding-top", 15, 10, 1170, 767, 1);
	@include adaptiveValue("padding-bottom", 15, 10, 1170, 767, 1);
	@include adaptiveValue("padding-right", 20, 15, 1170, 767, 1);
	@include adaptiveValue("padding-left", 20, 15, 1170, 767, 1);
	transition: all 0.3s ease 0s;
	&:hover {
		color: #d8d8d8;
		box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.2);
	}
}

// button-link ====================================================================================================//

.button-link {
	display: inline-flex;

	&__text {
		font-weight: 600;
		font-size: 13px;
		line-height: 140%;
		margin-right: 8px;
		transition: all 0.3s ease 0s;
		color: #2e2e2e;
	}

	&__icon {
		transition: all 0.2s ease 0s;
	}
	&:hover{
		.button-link__icon {
			transform: rotate(45deg);
		}
		.button-link__text {
			color: #000;
		}
	}
}

// title ====================================================================================================//

.title {
	font-weight: 600;
	@include adaptiveValue("font-size", 40, 30);
	line-height: 120%; /* 48/40 */
}

// title_l ====================================================================================================//

.title_l {
	font-weight: 500;
	@include adaptiveValue("font-size", 30, 20);
	line-height: 140%;
	text-transform: uppercase;
}

// label ====================================================================================================//

.label {
	font-family: $jac;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	line-height: 128.571429%; /* 18/14 */
	letter-spacing: 0.2em;
	color: #333333;
}

// text ====================================================================================================//

.text {
	font-family: $jac;
	font-size: 16px;
	line-height: 140%;
	color: #333333;
}
