// Заголовки, общие БЄМ блоки и проче...

// icon ====================================================================================================//

.icon {
	&__inside{
		fill: #fff;
		@media (max-width: 950px) {
			width: 30px;
		}
		transition: all 0.6s ease 0s;
		&:hover {
			fill: #000;
			.icon__body {
				transition: all 0.3s ease 0s;
				fill: #fff;
			}
		}
	}
}

// button ====================================================================================================//

.button {
	background-color: #000;
	border-radius: 5px;
	color: #fff;
	@include adaptiveValue("font-size", 16, 14, 1170, 767, 1);
	font-weight: 600;
	padding: 10px 20px;
	@include adaptiveValue("padding-top", 10, 5, 1170, 767, 1);
	@include adaptiveValue("padding-bottom", 10, 5, 1170, 767, 1);
	@include adaptiveValue("padding-right", 20, 15, 1170, 767, 1);
	@include adaptiveValue("padding-left", 20, 15, 1170, 767, 1);
	transition: all 0.3s ease 0s;
	&:hover {
		color: #d8d8d8;
		box-shadow: 0px 4px 18px 1px rgba(0, 0, 0, 0.2);
	}
}